{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <span class="sort-item">Сортировать:</span>
            <a class="sort-item" href="?sort=name">по названию</a>
            <a class="sort-item" href="?sort=min_price">по возрастанию цены</a>
            <a class="sort-item" href="?sort=max_price">по убыванию цены</a>
        </div>
        <hr>

        <div class="content">
            {% for phone in phones %}
            <div class="phone">
                <a href="{% url 'phone' phone.slug %}">
                    <h3>{{ phone.name }}</h3>
                </a>
                <img height="250" src={% static phone.image %} alt="{{ phone.name }}">
                <div style="color:green" class="price">Цена: {{ phone.price }} ₽</div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


